@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
/*--- ALL CSS IS COLLECTED IN THIS FILE -----*/

/* ----- Basestyle ------ */
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke;
}

.navbar h1 {
  color: brown;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: brown;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


/* ----- Blogdetails page ------- */
.blog-details h2 {
  font-size: 20px;
  color: brown;
  margin-bottom: 10px;
}

.blog-details div{
  margin: 20px 0;
}

.blog-details button {
  background: brown;
  color: whitesmoke;
  border: 0;
  padding: 8px;
  border-radius: 0px;
  margin-right: 10px;
  cursor: pointer;

}

/* ----- Create new blog form -------*/
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: brown;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid darkgray;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: brown;
  color: whitesmoke;
  border: 0;
  padding: 8px;
  border-radius: 0px;
  cursor: pointer;
}

/*------- Bloglist and searchbar -------*/
.search-input {
  padding-bottom: 40px;
  font-size: 18px;
  border-radius: 0px;
}

.input-field{
  margin: 0px;
}
.search-list {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid whitesmoke;
}

.search-list:hover {
  box-shadow: 1px 3px 5px lightgray;
}

.search-list h2 {
  font-size: 20px;
  color: brown;
  margin-bottom: 8px;
}

.search-list a{
  text-decoration: none;
}